{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
{% if consultas_seguimiento_perm or consultas_reporte_dia_perm %}
<div class="row d-flex justify-content-center">
    <div class="col-6 col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-2 text-center">
        <h2 class="cuadro">CONSULTAS</h2>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="col-6 col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-2 text-center">
        <a href="{% url 'index' %}" class="btn btn-info cuadro-boton">Regresar</a>
    </div>
  </div>
<div class="container">
    <div class="row d-flex justify-content-around">
        {% if consultas_seguimiento_perm %}
        <a type="button" class="btn btn-info col-4 cuadro-boton"
            href="{% url 'seguimiento' %}">
            Seguimiento 
        </a>
        {% endif %}
        {% if consultas_reporte_dia_perm %}
        <a type="button" class="btn btn-info col-4 cuadro-boton"
            href="{% url 'reporte_diario' %}">
            Reporte diario
        </a>
        {% endif %}
<!--        <a type="button" class="btn btn-info col-4 cuadro-boton" style="font-size: x-large; padding: 15px 0 15px 0;"
            href="#">
            GENERAL
        </a>-->
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}