{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
{% if user.cliente == 1 %}
<div class="row d-flex justify-content-center">
    <div class="col-6 col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-2 text-center">
        <h2 class="cuadro">Opciones</h2>
    </div>
</div>
<div class="container">
    {% if cliente_perm %}
    <div class="row d-flex justify-content-around" style="padding: 20px;">
        <a type="button" class="btn btn-info col-4 cuadro-boton" style="font-size: x-large; padding: 15px 0 15px 0; "
            href="{% url 'comanda_cliente' %}">
            Comanda
        </a>
    </div>
    <div class="row d-flex justify-content-around" style="padding: 20px;">
        <a type="button" class="btn btn-info col-4 cuadro-boton" style="font-size: x-large; padding: 15px 0 15px 0; "
            href="{% url 'comanda_surte_cliente' mesa pk observacion %}">
            Solicita
        </a>
    </div>
    {% endif %}
</div>
{% else %}
<div class="row d-flex justify-content-center">
    <div class="col-6 col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-2 text-center">
        <h2 class="cuadro">Actividades</h2>
    </div>
</div>
<div class="container">
    {% if contable == '' %}
    {% if abrir_perm %}
    <div class="row d-flex justify-content-around" style="padding: 20px;">
        <a type="button" class="btn btn-info col-3 cuadro-boton" style="font-size: x-large; padding: 15px 0 15px 0; "
            href="{% url 'abre_dia' %}">
            ABRE DÍA
        </a>
    </div>
    {% endif %}
    {% else %}
    <div class="row d-flex justify-content-around" style="padding: 20px;">
        {% if cliente_perm %}
        <a type="button" class="btn btn-info col-3 cuadro-boton-index letra-opciones"
            href="#">
            CLIENTES
        </a>
        {% endif %}
        {% if cocina_perm %}
        <a type="button" class="btn btn-info col-3 cuadro-boton-index letra-opciones"
            href="{% url 'cocina' %}">
            COCINA
        </a>
        {% endif %}
        {% if bar_perm %}
        <a type="button" class="btn btn-info col-3 cuadro-boton-index letra-opciones"
            href="{% url 'bar' %}">
            BAR
        </a>
        {% endif %}
        {% if servicio_perm %}
        <a type="button" class="btn btn-info col-4 cuadro-boton-index letra-opciones"
            href="{% url 'servicio' %}">
            SERVICIO
        </a>
        {% endif %}
        {% if entregas_perm %}
        <a type="button" class="btn btn-info col-4 cuadro-boton-index letra-opciones"
            href="{% url 'entregas' %}">
            ENTREGAS
        </a>
        {% endif %}
        {% if reasignar_perm %}
        <a type="button" class="btn btn-info col-5 cuadro-boton-index letra-opciones"
            href="{% url 'reasignar' %}">
            REASIGNAR
        </a>
        {% endif %}
        {% if consultas_seguimiento_perm or consultas_reporte_dia_perm %}
        <a type="button" class="btn btn-info col-4 cuadro-boton-index letra-opciones"
            href="{% url 'consultas' %}">
            CONSULTAS
        </a>
        {% endif %}
        {% if catalogo_perm %}
        <a type="button" class="btn btn-info col-5 cuadro-boton-index letra-opciones"
            href="{% url 'producto_list' %}">
            CATÁLOGO
        </a>
        {% endif %}
        {% if usuarios_perm %}
        <a type="button" class="btn btn-info col-5 cuadro-boton-index letra-opciones"
            href="{% url 'usuarios' %}">
            USUARIOS
        </a>
        {% endif %}
        {% if accesos_perm %}
        <a type="button" class="btn btn-info col-5 cuadro-boton-index letra-opciones" 
            href="{% url 'permisos_usuario' %}">
            ACCESOS
        </a>
        {% endif %}
        {% if caja_perm %}
        <a type="button" class="btn btn-info col-5 cuadro-boton-index letra-opciones"
            href="{% url 'cobranza' %}">
            CAJA
        </a>
        {% endif %}
        {% if cerrar_perm %}
        <a type="button" class="btn btn-info col-5 cuadro-boton-index letra-opciones"
            href="{% url 'cierra_dia' %}">
            CIERRA DIA
        </a>
        {% endif %}
<!--        <a type="button" class="btn btn-info col-5 cuadro-boton-index letra-opciones"
            href=" url 'juego' ">
            Loteria
        </a>   -->
    </div>
    {% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}