{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
<div class="row d-flex justify-content-center">
    <div class="col-6 col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-2 text-center">
        <h2 class="cuadro">Operación del día por producto</h2>
    </div>
</div>
<div class="container cuadro col-8 col-xs-7 col-sm-7 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
    <div class="row d-flex justify-content-around">
        <a href="{% url 'consultas'  %}" class="btn btn-info cuadro-boton col-5">Regresar</a>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <table class="table table-striped col-10 caption-top" style="border-color: blue">
            <caption>
                <h3>Total de productos - {{ seguimiento.total_comandas }}</h3>
            </caption>
            <thead>
                <tr>
                    <th class="text-center">Etapa</th>
                    <th class="text-center">Bar</th>
                    <th class="text-center">Cocina</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-5">Por elaborar</td>
                    <td class="text-center col-2">{{ seguimiento.total_por_elaborar_bar|default_if_none:"0" }}</td>
                    <td class="text-center col-2">{{ seguimiento.total_por_elaborar_cocina|default_if_none:"0" }}</td>
                </tr>
                <tr>
                    <td>Por entregar</td>
                    <td class="text-center">{{ seguimiento.total_por_entregar_bar|default_if_none:"0" }}</td>
                    <td class="text-center">{{ seguimiento.total_por_entregar_cocina|default_if_none:"0" }}</td>
                </tr>
                <tr>
                    <td>Por reasignar</td>
                    <td class="text-center">{{ seguimiento.total_por_reasignar_bar|default_if_none:"0" }}</td>
                    <td class="text-center">{{ seguimiento.total_por_reasignar_cocina|default_if_none:"0" }}</td>
                </tr>
                <tr>
                    <td>Cancelados</td>
                    <td class="text-center">{{ seguimiento.total_cancelados_bar|default_if_none:"0" }}</td>
                    <td class="text-center">{{ seguimiento.total_cancelados_cocina|default_if_none:"0" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <table class="table table-striped col-10" style="border-color: blue">
            <thead>
                <tr>
                    <th class="text-center">Etapa</th>
                    <th class="text-center">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Por cobrar</td>
                    <td class="text-center">{{ seguimiento.total_por_cobrar|default_if_none:"0"  }}</td>
                </tr>
                <tr>
                    <td>Pagados</td>
                    <td class="text-center">{{ seguimiento.total_pagados|default_if_none:"0"  }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr style="border-color: darkblue; border-width: 2px;">
    <div class="row d-flex justify-content-around">
        <a href="{% url 'consultas'  %}" class="btn btn-info cuadro-boton col-5">Regresar</a>
    </div>
</div>
{% endblock %}