{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% block headJS %}
{% endblock %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
<style>
    .no-border {
        border: none;
        /* Opcionalmente, puedes añadir otros estilos para mejorar la apariencia */
        outline: none;
        /* Elimina el contorno al enfocar el campo */
        box-shadow: none;
        /* Elimina cualquier sombra */
        font-size: 14px;
    }
</style>
<form>
    <div class="row d-flex justify-content-center" style="padding-top: 25px;">
        <div class="col-6 col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-2 text-center">
            <a href="{% url 'cobranza' %}" class="btn btn-info cuadro-boton">Regresar</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="padding-top: 25px; font-size: 16px; font-weight: bold;">
        <div class="row col-11 col-xs-8 col-sm-8 col-md-5 col-lg-5 col-xl-5 col-xxl-4 text-center">
            <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center">
                Por pagar<br>
                <input type="text" id="por_pagar" readonly class="text-end no-border col-10" style="font-weight: bold; box-shadow: 0 0 10px #000;
                    border-radius: 10px;" value='{{importe_por_pagar|default_if_none:"0.00"}}'>
                <hr>
                <div class="text-end">
                    <label style="font-size: 15px;">Efectivo</label> <br>
                    <label style="font-size: 15px;">Tarjeta</label> <br>
                    <label style="font-size: 15px;">Transferencia</label>
                </div>
            </div>
            <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center">
                Pagado<br>
                <input type="text" id="pagado" readonly class="text-end no-border col-10" style="font-weight: bold; box-shadow: 0 0 10px #000;
                    border-radius: 10px;" value='{{importe_pagado|default_if_none:"0.00"}}'>
                <hr>
                <input type="text" id="efectivo_pagar" class="text-end no-border col-10" style="font-weight: bold; box-shadow: 0 0 10px #000;
                border-radius: 10px;" value="0.00" onfocusout="reformatear('efectivo_pagar')" onkeypress="return valideKey(event);">
                <input type="text" id="tarjeta_pagar" class="text-end no-border col-10" style="font-weight: bold; box-shadow: 0 0 10px #000;
                border-radius: 10px;" value="0.00" onfocusout="reformatear('tarjeta_pagar')" onkeypress="return valideKey(event);">
                <input type="text" id="transferencia_pagar" class="text-end no-border col-10" style="font-weight: bold; box-shadow: 0 0 10px #000;
                border-radius: 10px;" value="0.00" onfocusout="reformatear('transferencia_pagar')" onkeypress="return valideKey(event);">
            </div>
            <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center">
                <button type="button" class="btn btn-info cuadro-pago" title="Paga" id="btnEnviar">
                    <img src="{% static 'core/img/pago.svg' %}" width="20" height="20" />
                </button>
                <input type="text" id="pagar" readonly class="text-end no-border col-10" style="font-weight: bold; box-shadow: 0 0 10px #000;
                    border-radius: 10px;" value="0.00">
                <hr>
                <label style="font-size: 15px;">Suma</label> <br>
                <label style="font-size: 15px;">Total</label> <br>
                <input type="text" id="total_pagar" class="text-end no-border col-10" style="font-weight: bold; box-shadow: 0 0 10px #000;
                border-radius: 10px;" value="0.00" readonly>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-11 col-xs-10 col-sm-9 col-md-8 col-lg-7 col-xl-5 col-xxl-4">
            <table class="table table-striped cuadro caption-top">
                <caption>
                    <h3>Comanda de la mesa - {{ mesa_id }}</h3>
                </caption>
                <thead>
                    <tr class="text-center">
                        <th class="col-4 align-middle">
                            Producto
                        </th>
                        <th class="col-2 align-middle">
                            Precio
                        </th>
                        <th class="col-2 align-middle">
                            Paga <input type="checkbox" id="id_selecciona" 
                                name="selecciona" class="checkbox-large">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for mesa in pagos %}
                    <tr>
                        <td>
                            {{mesa.especifico}}
                        </td>
                        <td class="text-end">
                            <input type="text" class="form-control text-end no-border" 
                                value="{{mesa.importe}}" readonly name="importe_{{mesa.id}}"
                                id="id_importe_{{mesa.id}}" style="padding: 0; background: transparent;">
                        </td>
                        <td class="text-center">
                            {% if mesa.productos_no_entregados == 0 and mesa.productos_entregados > 0 %}
                            <input type="checkbox" id="id_pago_{{mesa.id}}" name="pago_{{mesa.id}}"
                                class="checkbox-pago">
                            {% elif mesa.productos_no_entregados > 0 %}
                            Por entregar
                            {% elif mesa.estatus == 2 %}
                            Pagado
                            {% else %}
                            
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#btnEnviar").addClass("disabled");
//        $("#btnEnviar").removeClass("disabled"); 
        
        $(".checkbox-pago").change(function () {
            var totalImporte = 0;
            $(".checkbox-pago:checked").each(function () {
                var id = $(this).attr("id").split("_")[2];
                var importe = parseFloat($("#id_importe_" + id).val());
                totalImporte += importe;
            });
            $("#pagar").val(totalImporte.toFixed(2)); // Aquí se actualiza el campo de total importe

            // Verificar si todos los checkboxes están marcados
            var todosMarcados = checkboxesPagos.length === checkboxesPagos.filter(":checked").length;
            $('#id_selecciona').prop('checked', todosMarcados);
        });

        var checkboxesPagos = $('input[type="checkbox"][id^="id_pago_"]');

        $('#efectivo_pagar').on('keyup', function () {
            valida_importes();
        });
        $('#tarjeta_pagar').on('keyup', function () {
            valida_importes();
        });
        $('#transferencia_pagar').on('keyup', function () {
            valida_importes();
        });

        function valida_importes() {
            var pagar = parseFloat($('#pagar').val().replaceAll(',', ''));
            var importe_efectivo = parseFloat($('#efectivo_pagar').val().replaceAll(',',''));
            var importe_tarjeta = parseFloat($('#tarjeta_pagar').val().replaceAll(',',''));
            var importe_transferencia = parseFloat($('#transferencia_pagar').val().replaceAll(',',''));
            pagado = importe_efectivo + importe_tarjeta + importe_transferencia;
            $('#total_pagar').val(pagado);
            reformatear('total_pagar');
            var totalPagar = $('#total_pagar').val();
            if (isNaN(parseFloat(totalPagar))) {
                $('#total_pagar').val(0);
            }
            if ($('#total_pagar').val())
            if ((pagar > 0) && (pagado == pagar)) {
                $("#btnEnviar").removeClass("disabled");
            } else {
                $("#btnEnviar").addClass("disabled");
            }
        }

        // Evento change en el checkbox principal
        $('#id_selecciona').on('change', function () {
            var isChecked = $(this).prop('checked');

            // Marcar o desmarcar todos los checkboxes de los pagos
            checkboxesPagos.prop('checked', isChecked).change();
        });
        $('#btnEnviar').click(function () {
            var datos = [];
            $('.checkbox-pago:checked').each(function () {
                var id = $(this).attr('id');
                var valor = $(this).prop('checked') ? 'on' : 'off';
                var importe_efectivo = $('#efectivo_pagar').val();
                var importe_tarjeta = $('#tarjeta_pagar').val();
                var importe_transferencia = $('#transferencia_pagar').val();

                if (valor == 'on') {
                    datos.push({
                        id: id,
                        valor: valor,
                        importe_efectivo: importe_efectivo,
                        importe_tarjeta: importe_tarjeta,
                        importe_transferencia: importe_tarjeta,
                    });
                }
            });

            // Enviar los datos al servidor mediante una solicitud AJAX
            $.ajax({
                url: '{% url "pago_productos" %}',
                type: 'POST',
                data: {
                    datos: JSON.stringify(datos),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

</script>
{% endblock %}